body{
    background-color:lightskyblue;
    text-align: center;
}

h1 {text-align: center; font-size: 200%; color: black;}

a{text-align: center;}

p{text-align: center; color: white;}

table {border: 2px solid whitesmoke; text-align: center;}

th {background-color: rgb(3, 196, 196); padding: 5px;}

td {background-color: lightsteelblue; padding: 5px;}
